{% extends "base.html" %}
{% block content %}
<div class="container text-center animated bounceInUp">
    <h1 class="">Course Automator</h1>
    <h4>Automate your TAMU Registration and Class Search Experience</h4>
    <button type="button" class="btn btn-primary" disabled>AUTO REGISTER</button>
    <button type="button" class="btn btn-primary" disabled>AUTO SEARCH</button>

    <div style="margin:0 auto;">
      <div class="alert alert-warning" id="notice">
        <strong>NOTICE!</strong> <br>
        Registration is currently closed. <br>
        Try the demo or enter your email address to be alerted as registration nears:
        <form>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <button type="button" class="button-custom">Demo Me!</button>
    </div>

</div>
{% endblock %}
